html{
    background-color: #294B29;
}
.container{
display: flex;
flex-direction: column;
align-items: center;
}
#one{
    display: flex;
    height:30vh;
    justify-content: flex-end;
}
.Refresh{
  color:#F9EFDB;
  font-size: 48px;
  font-family: 'Courgette', cursive;
}
.writing-flex{
    display: flex;
    gap:190px;
    font-size: large;
    color:#EBD9B4;
    font-family: 'Lobster', sans-serif;
}
.flex-boxes{
    display: flex;
    gap:50px;
}
.Box{
    display: flex;
    flex-direction: row;
    height:250px;
    width:250px;
    border:2px solid black;
    background-color: #9DBC98;
    border-radius: 8px;
}
 #one1{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top: 5px;
}
#two{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top: 5px;
}
#three{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
}
.circle1{
    border:2px solid black;
    width:70px;
    height:70px;
    border-radius: 70px;
    background-color: #76453B;
}
.circle2{border:2px solid black;
    width:70px;
    height:70px;
    border-radius: 70px;
    background-color: #76453B;}
.circle3{border:2px solid black;
    width:70px;
    height:70px;
    border-radius: 70px;
    background-color: #76453B;}
    .circle11{
        border:2px solid black;
        width:70px;
        height:70px;
        border-radius: 70px;
        background-color: #76453B;
    }
    .circle22{border:2px solid black;
        width:70px;
        height:70px;
        border-radius: 70px;
        background-color: #76453B;}
    .circle33{border:2px solid black;
        width:70px;
        height:70px;
        border-radius: 70px;
        background-color: #76453B;}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#s1{
    color:#638889;
    font-size: xx-large;
    font-family: 'Allura', cursive;
}


